*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    #grad {
        background-image: linear-gradient(rgb(93, 175, 21), rgb(143, 247, 64));
      }
    background-color:  linear-gradient(#1c5604, #36e161)
    color: "greenyellow";
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 67px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient(#ffffff, #19c441);
    color: white;
    display: flex;
}

.escola-div-conteudo{
    width: 35%;
}

.escola-titulo{
    padding: 24px 0;
}

.escola{
    background-image: linear-gradient(#1c5604, #4ee958)
    color: white;
    display: flex;
    justify-content: center;
}

.escola{
    background-image: linear-gradient(#1c5604,#36e161);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.escola{
    background-image: linear-gradient(#1c5604,#2ce66a);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
